name: CI

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest
    
    container:
      image: elementary/docker:unstable
    
    steps:
    - uses: actions/checkout@v1
    - name: Install Dependencies
      run: |
        apt update
        apt install -y libbamf3-dev libgranite-dev libgtop2-dev libudev-dev libwingpanel-2.0-dev meson valac
    - name: Build
      run: |
        meson build
        ninja -C build
